{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}



<div class="art_card">
  <img id = "arifact_img" src = "{{ url_for('static', filename='img/' +  artPiece.picture_path) }}">
 <video id = "artifact_vidio" controls poster="/images/w3html5.gif" style='display:none;' >
  <source src="{{ url_for('static', filename='video/' +  'defult.mp4' ) }}" type="video/mp4">
  Your browser does not support the video tag.
</video> 
<section class="floor_nav">
	<button
 onclick="document.getElementById('arifact_img').style='display:block;'  
		  document.getElementById('artifact_vidio').style='display:none;' ">
Image
</button>

<button
 onclick="document.getElementById('arifact_img').style='display:none;'  
		  document.getElementById('artifact_vidio').style='display:block;' ">
 Video
</button>


</section>


  <div class="art_text">
    <h3>{{ artPiece.title }}</h3><br>
    <h5>{{artist.artist_name}}</h5>
	<p>{{ artPiece.description }}</p>

  <a href="{{ url_for('room', room_id = artPiece.room_id) }}" >
    Back to Room
  </a>

<!-- 	{{sortType}}
 --><!-- 
<section class="floor_nav tab">
    <button class="tablinks" id="floor1_btn" onclick="showMap(event, 'floor1')"><i class="fas fa-layer-group"></i>&nbsp; Floor 1</button>
    
    <button class="tablinks" onclick="showMap(event, 'floor2')"><i class="fas fa-layer-group"></i>&nbsp; Floor 2</button>
    <button class="tablinks" onclick="showMap(event, 'floor3')"><i class="fas fa-layer-group"></i>&nbsp; Floor 3</button>
</section> -->
	</div>

</div>


<section class="floor_nav">
    <a href="{{ url_for('artifact', artwork_id = artPiece.artwork_id, sortType = 'byArtist') }}"><button></i>&nbsp; By Artist</button></a>
    <a href="{{ url_for('artifact', artwork_id = artPiece.artwork_id, sortType = 'byRoom') }}"><button></i>&nbsp; By Room</button></a>
    <a href="{{ url_for('artifact', artwork_id = artPiece.artwork_id, sortType = 'byDate') }}"><button></i>&nbsp; By Date</button></a>
</section>

{%for recomended in recomendedArt %}
  <a href="{{ url_for('artifact', artwork_id = recomended.artwork_id, sortType = 'byRoom') }}" >

  {%if recomended.artwork_id== last_artwork_visited%}
    <section class="searchResult"  style= " background-color:pink;">
  {% else %}
    <section class="searchResult" >
  {%endif%}

      <section class="img-container" style="background-image:url({{ url_for('static', filename='img/' +  recomended.picture_path) }})"></section>
        <section class="searchResult-content">
          <h3>{{recomended.title}}</h3>
          <p>
            <i class="far fa-calendar-alt"></i>&nbsp; Year {{recomended.date}} {{recomended.artist}}
          </p>
        </section>
      </section>
    </section>
  </a>
{%endfor%}





{% endblock %}
