{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}



<div class="art_card">
  <img id = "arifact_img" src = "{{ url_for('static', filename='img/' +  artPiece.picture_path) }}">



 <video id = "artifact_vidio" controls poster="/images/w3html5.gif" style='display:none;' >
  <source src="{{ url_for('static', filename='video/' +  'defult.mp4' ) }}" type="video/mp4">
  Your browser does not support the video tag.
</video> 

<section class="floor_nav">
  <button id = "getImg"
   onclick="document.getElementById('arifact_img').style='display:block;'  
  		  document.getElementById('artifact_vidio').style='display:none;'   
        document.getElementById('getVideo').style = 'display:block'
        document.getElementById('getImg').style = 'display:none' ">
  Image
  </button>

  <button
  id = "getVideo"
   onclick="document.getElementById('arifact_img').style='display:none;'  
  		  document.getElementById('artifact_vidio').style='display:block;' 
        document.getElementById('getVideo').style = 'display:none'
        document.getElementById('getImg').style = 'display:block'">
   Video
  </button>
</section>



  <div class="art_text">
    <h3>{{ artPiece.title }}</h3>
    <p>{{ artPiece.date }}</p>
    <a href= {{artist.wiki_link}}>
    <h5>{{artist.artist_name}}</h5>
    </a>
  <p>{{ artPiece.description }}</p>
  <a href="{{ url_for('room', room_id = artPiece.room_id) }}" >
    Back to Room
  </a>
	</div>
</div>


<section class="floor_nav">
    <a href="{{ url_for('artifact', artwork_id = artPiece.artwork_id, sortType = 'byClosest') }}"><button id = byClosest></i>&nbsp; By Closest</button></a>
    <a href="{{ url_for('artifact', artwork_id = artPiece.artwork_id, sortType = 'byArtist') }}"><button id = byArtist ></i>&nbsp; By Artist</button></a>
    <a href="{{ url_for('artifact', artwork_id = artPiece.artwork_id, sortType = 'byRoom') }}"><button id = byRoom></i>&nbsp; By Room</button></a>

  
</section>


<section>

{%for recomended in recomendedArt %}
  {%if recomended != artPiece  %}
    <a href="{{ url_for('artifact', artwork_id = recomended.artwork_id, sortType = 'byClosest') }}" >
    {%if recomended.artwork_id== last_artwork_visited%}
      <section class="searchResult"  style= " background-color:#df5286;">
    {% else %}
      <section class="searchResult" >
    {%endif%}
        <section class="img-container" style="background-image:url({{ url_for('static', filename='img/' +  recomended.picture_path) }})"></section>
          <section class="searchResult-content">
            <h3>{{recomended.title}}</h3>
            <p>
              <i class="far fa-calendar-alt"></i>&nbsp; Year {{recomended.date}} {{recomended.artist}}
            </p>
          </section>
        </section>
      </section>
    </a>
  {%endif%}
{%endfor%}

</section>
    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>   
    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>   
    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>   
    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>   
    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>   
<script>
document.getElementById("{{sortType}}").style.background ="#2f3542";
document.getElementById("{{sortType}}").style.color = "#ffffff";
</script>
{% endblock %}

