{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}

<!-------- Room Buttons -------->

<section class="floor_nav tab">
    <button class="tablinks" id="floor1_btn" onclick="showMap(event, 'floor1')"><i class="material-icons-outlined size-13">
filter_1</i>&nbsp; Floor 1</button>
    <button class="tablinks" onclick="showMap(event, 'floor2')"><i class="material-icons-outlined size-13">
filter_2</i>&nbsp; Floor 2</button>
    <button class="tablinks" onclick="showMap(event, 'floor3')"><i class="material-icons-outlined size-13">
filter_3</i>&nbsp; Floor 3</button>

<div id="floor1" class="tabcontent">
<h2 class="sectionTitle"><i class="material-icons-outlined size-15">
filter_1</i> &nbsp;Map - Floor 1</h2>

<section class="museum_map"></section>
</div>

<div id="floor2" class="tabcontent">
   <h2 class="sectionTitle"><i class="material-icons-outlined size-15">
filter_2</i> &nbsp;Map - Floor 2</h2>

<section class="museum_map"></section>

</div>

<div id="floor3" class="tabcontent">
<h2 class="sectionTitle"><i class="material-icons-outlined size-15">
filter_3</i> &nbsp;Map - Floor 3</h2>

<section class="museum_map"></section>

</div>


            <a href="{{ url_for('artifact') }}">
    
  <script>
function showMap(evt, floor) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(floor).style.display = "block";
  evt.currentTarget.className += " active";
}

        
document.getElementById("floor1_btn").click();
</script>
{% endblock %}