{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}

{% from "_formhelpers.html" import render_field %}


<i class="far fa-user-circle login-icon"></i>

<h4 class="login-header">Login to your account</h4>
<form method="post" class="login-form">
	<input type="text" name="username" placeholder="Username">

	<input type="password" name="password" placeholder="Password">
    <!-- {{ render_field(form.username) }}
    <p>
    {{ render_field(form.password) }} -->
    <p><input type="submit" value="Login"></p>
</form>

<form>
<input type = "button" value="Return to Previous Page" onClick="history.back()">
</form>

{% endblock %}
