{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}

<section class="roomTitle">
    <h2> Floor {{room.floor_number}} - {{room.room_title}}</h2>
</section>

<section class="museum_map">
    <div class="relative">
    <img src="{{ url_for('static', filename='map/room.svg')}}" alt="room's layout" class="room">
                  {%for artpiece in artpieces%}
                   <a href="{{ url_for('artifact', artwork_id = artpiece.artwork_id) }}" class="itemName"> 
                    <img src= "{{ url_for('static', filename='img/' + artpiece.picture_path) }}"  alt="" style="height: 35px; width: 35px; left: {{artpiece.location_x+20}}px; top:{{artpiece.location_y+20}}px; position: absolute;"> 
                    </a>
                    {%endfor%}
    </div>
</section>
{% endblock %}
