{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}


<video autoplay></video>

<script>
const constraints = {
  video: true
};

const video = document.querySelector('video');

navigator.mediaDevices.getUserMedia(constraints).
  then((stream) => {video.srcObject = stream});
</script> 

<input type="text" value="scan" id="active_page" hidden>

<form method="post" class="scanform">

  <input name="scan" type=text placeholder="QR Code" class="qrcode-text" readonly hidden>
  <label class = "qrcode-text-btn">
    <input type="file" accept="image/*" capture="environment" onclick="return showQRIntro();" onchange="openQRCamera(this);" tabindex="-1">
  </label>
    <p class="note">Click the QR code above to activate scanner, or upload an image</p>
  <input type="submit" value="Find Artifact">

  <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
    
</form>

<form>
<input type = "button" value="Return to Previous Page" class="previousPage" onClick="history.back()">
</form>

  <script>
    function openQRCamera(node) {
      var reader = new FileReader();
      reader.onload = function() {
        node.value = "";
        qrcode.callback = function(res) {
          if(res instanceof Error) {
            alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
          } else {
            node.parentNode.previousElementSibling.value = res;
          }
        };
        qrcode.decode(reader.result);
      };
      reader.readAsDataURL(node.files[0]);
    }

    function showQRIntro() {
      return confirm("Use your camera to take a picture of a QR code.");
    }

</script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        var current = $('#active_page').val();
        $('.menu-btn').removeClass("active");
        $('.menu-btn').find('.icon').removeClass('active-icon');
        
        $('#' + current).addClass("active");
        $('#' + current).find('.icon').addClass("active-icon");
    });
    
</script>

{% endblock %}
