{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}

<input type="text" value="search" id="active_page" hidden>

{% from "_formhelpers.html" import render_field %}

<form method="POST" class="searchForm">

    {{ render_field(form.select) }}
    
    {{ render_field(form.search) }}

      <button type="submit"><i class="fas fa-search"></i></button>
</form>

{%for artPiece in artPieces%}
  <a href="{{ url_for('artifact', artwork_id = artPiece.artwork_id, sortType = 'byRoom') }}" >
    {%if artPiece.artwork_id == last_artwork_visited%}
    <section class="searchResult" style = "     background-color:pink;">
    {%else%}
    <section class="searchResult" >
    {%endif%}
    <section class="img-container" style="background-image:url({{ url_for('static', filename='img/' +  artPiece.picture_path) }})"></section>
      <section class="searchResult-content"  >
          <h3>{{artPiece.title}}</h3>
          <p>
            <i class="far fa-calendar-alt"></i>&nbsp; Year {{artPiece.date}} {{artPiece.artist}}
          </p>
      </section>
    </section>
  </a>
{%endfor%}

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
    $(document).ready(function(){
        var current = $('#active_page').val();
        $('.menu-btn').removeClass("active");
        $('.menu-btn').find('.icon').removeClass('active-icon');
        
        $('#' + current).addClass("active");
        $('#' + current).find('.icon').addClass("active-icon");
    });
    
</script>

{% endblock %}
