{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}





{% from "_formhelpers.html" import render_field %}

<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>

{%for artPiece in artPieces%}
<div class="thumbnail">
	<img class = "thumbnail_img" src = "{{ url_for('static', filename='img/' +  artPiece.picture_path) }}">
	  	<div class="container">
	   		<p>{{artPiece.title}}</p> <br>
	    	<p>{{artPiece.date}}</p> 
	  	</div>
</div>
<br>
<br>
{%endfor%}



{% endblock %}