{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}





{% from "_formhelpers.html" import render_field %}

<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>

{%for artPiece in artPieces%}
<a href="{{ url_for('artifact', artwork_id = artPiece.artwork_id) }}" class="itemName"> 
	<div class="thumbnail">
		<img class = "thumbnail_img" src = "{{ url_for('static', filename='img/' +  artPiece.picture_path) }}">
		<div class="container">
		   	<p>{{artPiece.title}} <br>
		   	{{artPiece.date}}</p> <br>
	    </div>
	</div>

</a>
<br>
<br>
{%endfor%}

<form>
<input type = "button" value="Return to Previous Page" onClick="history.back()">
</form>

{% endblock %}
