{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}

<input type="text" value="settings" id="active_page" hidden>

<form action ="/login">
	<input type="submit" value="Login as Administrator"/>
</form>

<!-- <a href="login.html"> <p> Login As Administrator </p>  -->

<form>
<input type = "button" value="Return to Previous Page" onClick="history.back()">
</form>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        var current = $('#active_page').val();
        $('.menu-btn').removeClass("active");
        $('.menu-btn').find('.icon').removeClass('active-icon');
        
        $('#' + current).addClass("active");
        $('#' + current).find('.icon').addClass("active-icon");
    });
    
</script>



{% endblock %}
