<!doctype html">
<html lang="en">
<head>

{% block museum_metadata %}
<title>{{ museum_data.museum_name }} - {{ page_name }}</title>
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='style.less') }}" />

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
 <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    
    
    
    
    
<!--
    
 <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=H_DDT3pmpfkpJ9X955S6n4VaJuUh4ZmSPzjVhwXUawk0U-LrSVEL4QojJ2J5A0bDZWRzIIElvQQ0kRG0HAgAJo-uhi1VzRTThPQgnF6MuqD129hgnb5xdEKoi_Sgd_9HJxCd4ooivexEFhZYyJx7uQ" charset="UTF-8"></script>
    
<link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9ibC5vY2tzLm9yZy9KdmVybWEvcmF3LzIzODVjYjc3OTRkMThjNTFlM2FiL2E5MWJlZDUzOTc4YTZkOTQ1NTM5NTJiMzBiODZhZDkzYjJiMDZjMWUv"/>
    
    
-->
    
    
    

    
    <script src="https://kit.fontawesome.com/5ca445b195.js" crossorigin="anonymous"></script>

{% endblock %}

</head>
<body>

	{% block header %}
<header>
     
                  <h1>{{page_name}}</h1>
    

      <div class="right">
  
          <a href="{{ url_for('login') }}"><button class="header-btn"><i class="fas fa-user"></i></button></a>
          <a href="{{ url_for('search') }}"><button class="header-btn"><i class="fas fa-search"></i></button></a>
      </div>
</header>
  
	{% endblock %}


<section class="mainContent">
	{% block main_content %}
fdffd
         <a href="{{ url_for('artifact') }}">
artp
            </a>
    
	{% endblock %}

</section>

{% block footer %}
	<footer class="footer">
          
        <a href="{{ url_for('mainpage') }}">
        <button class="menu-btn active" id="index">
         <i class="fas fa-map-marked-alt icon active-icon"></i>
              </button></a>
        
         <a href="{{ url_for('search') }}">
           <button class="menu-btn" id="search">
                    
       <i class="fas fa-search icon"></i>
            
             </button></a>
        
          <a href="{{ url_for('scan') }}">    
        <button class="menu-btn" id="scan">
              
        <i class="fas fa-qrcode icon"></i>
           
              </button></a>
        
         <a href="{{ url_for('settings') }}">
             <button class="menu-btn" id="settings">       
         <i class="fas fa-cog icon"></i>
    
             </button></a>
            
	</footer>
	{% endblock %}

    
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>

</body>
</html>