{% extends "layout.html" %}
{% block content %}
<h1> Your Basket </h1>

{% for key, value in display_basket.items() %}
<tr>
	<img class = "basketimage" src = "{{ url_for('static', filename='img/' + value['image']) }}"
	<td>{{ value["name"] }}	&nbsp&nbsp&nbsp&nbsp</td>
	<td>Quantity: {{ value["quantity"] }}&nbsp&nbsp&nbsp&nbsp</td>
	<td>£{{ value["price"] }}&nbsp&nbsp&nbsp&nbsp</td>
	<td>Total Cost: £{{ (value["quantity"] * value["price"]) }}&nbsp&nbsp&nbsp&nbsp</td>
	

	<td>
      <form action="{{ url_for('delete_item', item_id=key|int) }}" method="POST">
      	<input class="" type="submit" value="Remove from Basket">
      </form>
 	</td>
 </tr>

<br/>

</tr>

 {% endfor %}
 <h3>Total: £{{ total }} </h3>
 <h3>Number of items: {{ total_quantity }} </h3>

<a href ="{{ url_for('checkout') }}" class="header" style=color:blue;>Proceed to Checkout</a>   

{% endblock content %}
