{% extends "layout.html" %}
{% block content %}
<h2> {{item.item_name}} </h2>
  <img class = "ItemImage" src = "{{ url_for('static', filename='img/' + item.image_file) }}">

    <p>{{ item.item_name }}</p>
    <p>{{ item.description }}</p>
    <p>Price: £{{ item.price }}</p>
    <p>Category: {{ item.category }} </p>
    <p>Stock: {{ item.stock_level}}</p>
	{% if current_user.is_authenticated %}
		<a class="AddtoBasket" href="/add_to_basket/{{item.id}}">Add to Basket</a>
        <a class="AddtoBasket" href="/add_to_wishlist/{{item.id}}">Add to Wishlist</a>
	{% else %}
		<p style = "color:blue;"> Please login or create an account to add this item to your basket </p>
	{% endif %}

</form>
{% endblock content %}
