{% extends 'template.html' %}

{% block MuseumName %}
{{ museum_data.store_name }}
{% endblock %}

{% block main_content %}

<!-------- Room Buttons -------->

<section class="floor_nav tab">
    <button class="tablinks" onclick="showMap(event, 'floor1')">Floor 1</button>
    <button class="tablinks" onclick="showMap(event, 'floor2')">Floor 2</button>
    <button class="tablinks" onclick="showMap(event, 'floor3')">Floor 3</button>

    <h2 class="sectionTitle">Museum Map</h2>
    
    <h3 class="important">MAP IN PROGRESS</h3>
    
    <div id="floor1" class="tabcontent">
  <h3>Floor 1</h3>

</div>

<div id="floor2" class="tabcontent">
  <h3>Floor 2</h3>

</div>

<div id="floor3" class="tabcontent">
  <h3>Floor 3</h3>

</div>
    
    
    <script>
function showMap(evt, floor) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(floor).style.display = "block";
  evt.currentTarget.className += " active";
}
        showMap("event","floor1");
</script>
{% endblock %}