{% extends 'template.html' %}

{% block storeName %}
{{ store_data.store_name }}
{% endblock %}

{% block main_content %}

<section class="loginContainer">
<h3 class="loginTitle">Login To Your Account</h3>

     <form method="POST" action="" class="registerForm">
{{ form.csrf_token }}
                <section class="inputWrap">
{{ form.email.label }} {{ form.email}}
        </section>
                <section class="inputWrap">
{{ form.password.label }} {{ form.password}}
        </section>
               
                <section class="inputWrap">
<input type="submit" value="Login">
        </section>
</form>
    <p class="loginSmall">or</p>
    <a href="{{ url_for('register')}}"><p class="loginSmall">Create an Account</p></a>
    
</section>
{% endblock %}