<!doctype html">
<html lang="en">
<head>

{% block museum_metadata %}
<title>{{ self.MuseumName() }} - {{ page_name }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

{% endblock %}

</head>
<body>

	{% block header %}
	<header class="header"> 
	
	</header>
  
	{% endblock %}


<section class="mainContent">
	{% block main_content %}

    
    
	{% endblock %}

</section>

{% block footer %}
	<footer class="footer">
		&copy Copyright 2020
	</footer>
	{% endblock %}

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
</html>