html, body {
    background-color:#F6F6F8;
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif !important;
}

header{
    width:100%;
    height:50px;
    background-color:#2c3e50;
    position: relative
}

header .left-icon{
    position: absolute;
    top: 50%;
    left:20px;
    transform:translate(0%,-50%);
    color:#b1bec8;
    font-size:20px;
}

header .right-icon{
    position: absolute;
    top: 50%;
    right:20px;
    transform:translate(0%,-50%);
    color:#b1bec8;
    font-size:20px;
}

header h1{
    color:#FFFFFF;
    font-weight:bold;
    line-height:50px;
    font-size:16px;
    text-align:center;
}



/********** Museum Map Page **********/

.floor_nav{
    width: 100%;
    height: 50px;
    background-color:#FFFFFF;
}

.floor_nav button{
    width: 30%;
    height: 30px;
    margin: 10px 1.66%;
    float: left;
    border:none;
    background-color:#ecf0f1;
    border-radius: 6px;
    font-size:12px;
}

.museum_map{
    width:100%;
    height:400px;
    background-color: #ccc;
}

/********** Search Page **********/

.search_container{
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
        	-webkit-box-shadow:0 2px 2px -2px gray;
	   -moz-box-shadow: 0 2px 2px -2px gray;
	        box-shadow: 0 2px 2px -2px gray;
}

.search_container .search_input{
    
}
/********** Footer Page **********/

footer{
  background-color:#FFFFFF;
    width:100vw;
    height:50px;
    position: fixed;
    bottom:0;
    box-shadow: 0px 0 2px gray;
}
footer .navigation{
    width:100%;
    height:50px;
    position: relative
}
footer .menu-btn{
    height:50px;
    width:25%;
    float:left;
    position: relative;
    text-align: center;
    font-size:12px;
}
footer .menu-btn .material-icons{
    margin-left:50%;
    margin-top:5px;
    transform:translate(-100%,0);
    color:#222;
}

.active{
    color:#be2edd !important;
}